<section id="account-view" class="mainbar" ng-controller="accountCtrl">
    <h1>Create New User</h1>
    <form class="form form-horizontal" role="form" ng-submit="registerUser(newUsername, newPassword, newConfirmPassword)">
        <div class="form-group">
            <label for="inputNewUsername" class="col-sm-2 control-label">New Username:</label>
            <div class="col-sm-10">
                <input id="inputNewUsername" class="form-control" type="text" required ng-model="newUsername" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input id="inputPassword" class="form-control" type="text" required ng-model="newPassword" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password:</label>
            <div class="col-sm-10">
                <input id="inputConfirmPassword" class="form-control" type="text" required ng-model="newConfirmPassword" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Create Account" />
            </div>
        </div>
    </form>
</section>