<section id="droppin-view" class="mainbar" ng-controller="droppin">
    <div class="row">
        <div class="col-md-6">
            <h3>Create New Drop Pin</h3>
            <form class="form" ng-submit="createDropPoint(newLatitude, newLongitude, newTitle)">
                <div class="form-group">
                    <label for="inputDropPinTitle">Drop Pin Title:</label>
                    <input id="inputDropPinTitle" class="form-control" type="text" required ng-model="newTitle" />
                </div>
                <div class="form-group">
                    <label for="inputLatitude">Latitude:</label>
                    <input id="inputLatitude" class="form-control" type="number" required ng-model="newLatitude" />
                </div>
                <div class="form-group">
                    <label for="inputLongitude">Longitude:</label>
                    <input id="inputLongitude" class="form-control" type="number" required ng-model="newLongitude" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Create Drop Pin" />
                </div>
            </form>
        </div>
    </div>
    <div id="map-canvas"></div>   
</section>