<section id="droppin-view" class="mainbar" ng-controller="droppinCtrl" style="height:100%; width:100%;">
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Drop Pin</button>
    <div collapse="isCollapsed">
        <div class="row">
            <div class="col-sm-6">
                <h3>Create Drop Pin</h3>
                <form class="form form-horizontal" role="form" ng-submit="createDropPin(newLatitude, newLongitude, newTitle)">
                    <div class="form-group">
                        <label for="inputDropPinTitle" class="col-sm-2 control-label">Title:</label>
                        <div class="col-sm-10">
                            <input id="inputDropPinTitle" class="form-control" type="text" required ng-model="newTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLatitude" class="col-sm-2 control-label">Latitude:</label>
                        <div class="col-sm-10">
                            <input id="inputLatitude" class="form-control" type="number" required ng-model="newLatitude" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLongitude" class="col-sm-2 control-label">Longitude:</label>
                        <div class="col-sm-10">
                            <input id="inputLongitude" class="form-control" type="number" required ng-model="newLongitude" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Create Drop Pin" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Drop Pins</h3>
                <table class="table">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Latitude
                        </th>
                        <th>
                            Longitude
                        </th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in droppinList">
                        <td>
                            {{item.Description}}
                        </td>
                        <td>
                            {{item.Latitude}}
                        </td>
                        <td>
                            {{item.Longitude}}
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteDropPin(item.Id)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="map-canvas"></div>
</section>