<section id="checklistitem-view" class="mainbar" data-ng-controller="CheckListItemCtrl">
    <h1>Check Lists</h1>
    <a class="btn btn-primary" href="#/checklist">Back To Check Lists</a>
    <tabset>
        <tab heading="View">
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Date Added</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in checkListItems">
                    <td>
                        {{ item.ItemText }}
                    </td>
                    <td>
                        {{ item.DateAdded }}
                    </td>
                </tr>
            </table>
        </tab>
        <tab heading="Edit">
            <h3>Create Check List</h3>
            <form class="form form-horizontal" role="form" ng-submit="addCheckListItem(checkListItem)">
                <div class="form-group">
                    <label for="inputDropPinTitle" class="col-sm-2 control-label">Check List Item:</label>
                    <div class="col-sm-10">
                        <input id="inputDropPinTitle" class="form-control" type="text" required ng-model="checkListItem.ItemText" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Create Check List Item" />
                    </div>
                </div>
            </form>
            <table class="table">
                <tr>
                    <th>Check List Item</th>
                    <th>Date Added</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in checkListItems">
                    <td>
                        <input type="text" ng-model="item.ItemText" />
                    </td>
                    <td>
                        {{ item.DateAdded }}
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteCheckListItem(item.Id)">Delete</button>
                        <form ng-submit="updateCheckListItem(item)">
                            <input type="hidden" value="item.Id" />
                            <input type="hidden" value="item.ItemText" />
                            <input type="hidden" value="item.DateAdded" />
                            <input type="submit" class="btn btn-info" value="Update" />
                        </form>
                    </td>
                </tr>
            </table>
        </tab>
</section>
